/* Add styling for your page here */

body {
    background-color: #242424;
}

h1,
h2,
p,
ul,
button {
    color: white;
    font-family: Verdana, sans-serif;
}

button {
    background-color: #1a1a1a;
    border-radius: 10%;
    width: 35%;
}

.header {
    padding-left: 4%;
}

.grid_container {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 5%;
    justify-content: center;
}

.bakery_items_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bakery_items {
    width: 35%;
    height: auto;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.bakery_item_body {
    background-color: rgb(75 85 99);
    padding: 5%;
    border-radius: 2%;

}

.bakery_img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2%;
}

.cart {
    position: fixed;
    width: 50%;
    top: 5%;
    left: 75%;
}

.price_cart {
    display: flex;
    justify-content: space-between;
}